

<ion-row>
        <ion-col class="col">{{task.Id}}</ion-col>
        <ion-col class="col">{{task.Name}}</ion-col>
        <ion-col class="col">{{task.Label}}</ion-col>
        <ion-col class="col">{{task.ParentId}}</ion-col>
        <ion-col class="col">{{task.Type}}</ion-col>
        <ion-col class="col">{{startDateValue}}</ion-col>
        <ion-col class="col">{{endDateValue}}</ion-col>
        <ion-col class="col">{{task.Duration}}</ion-col>
        <ion-col class="col">{{task.Progress}}</ion-col>
        <ion-col class="col">{{task.IsUnscheduled}}</ion-col>
        <ion-col class="col"><ion-button type="button" shape="round" (click)="openModalEdit()" color="warning">Edit</ion-button>
            <ion-button id="present-alert" type="button" shape="round" (click)="presentAlert()" color="danger">Delete</ion-button>
        </ion-col> 
    </ion-row>
