
<ion-row>
        <ion-col><ion-label>{{task.Name}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.Label}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.ParentId}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.Type}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.StartDate}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.EndDate}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.Duration}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.Progress}}</ion-label></ion-col>
        <ion-col><ion-label>{{task.IsUnscheduled}}</ion-label></ion-col>
        <ion-col><ion-button type="button"  (click)="openModalEdit()" color="secondary">Edit</ion-button>
            <ion-button id="present-alert" type="button"  (click)="presentAlert()" color="secondary">Delete</ion-button>
        </ion-col> 
    </ion-row>
