
<div class="dl-block-auto">
<!-- <gantt></gantt> -->
<ion-grid>
    <ion-row>
      <ion-col size="2"> <ion-button expand="block" (click)="openModalCreate()" color="secondary">New Task</ion-button></ion-col>
      <ion-col size="8">
        <div class="ng-filter">
            <ng-select  [(ngModel)]="selectedTask"   [clearSearchOnAdd]="true" [searchFn]="filterByTerm" (change)="changeToSelectedTask()">
              <ng-option  *ngFor="let opt of tasks" [value]="opt.Id">{{opt.Name}}</ng-option>
           </ng-select>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <ion-row class="row header">
            <ion-col class="col">Id</ion-col>
            <ion-col class="col">Name</ion-col>
            <ion-col class="col">Label</ion-col>
            <ion-col class="col">Parent ID</ion-col>
            <ion-col class="col">Type</ion-col>
            <ion-col class="col">Start Date</ion-col>
            <ion-col class="col">End Date</ion-col>
            <ion-col class="col">Duration</ion-col>
            <ion-col class="col">Progress</ion-col>
            <ion-col class="col">IsUnscheduled</ion-col>
            <ion-col class="col">Action</ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="12" *ngFor="let item of tasks">
              <task-detail  [task]="item"></task-detail>
            </ion-col>
        </ion-row>
        </ion-col>
    </ion-row>
   
  </ion-grid>
</div>